/* CONTAINERS */
.parent-container {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  align-self: center;
  width: 20rem;
  min-height: 40px;
  font-size: 0.65rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(180, 180, 180, 0.603);
}

.body {
  min-height: 6rem;
  display: grid;
  place-content: center;
  font-size: 0.65rem;
  padding: 1rem;
  white-space: pre-line;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgba(180, 180, 180, 0.603);
  padding-block-start: 0.5rem;
}

.indicator-container {
  font-size: 0.6rem;
  line-height: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* TEXT */
h2 {
  font-size: 0.85rem;
}

.idle-placeholder {
  opacity: 0.4;
  font-size: 0.6rem;
}

.indicator-txt {
  font-weight: 500;
}

.idle-text {
  color: rgba(0, 0, 0, 0.6);
}

.extracting-text {
  color: rgb(109, 153, 203);
}

.summarizing-text {
  color: rgb(203, 187, 109);
}

.done-text {
  color: rgb(109, 203, 127);
}

.error-text {
  color: rgb(216, 62, 62);
}

/* INDICATOR DIV */
.indicator {
  height: 0.3rem;

  aspect-ratio: 1;
  border-radius: 50%;
}

.indicator.idle {
  background-color: rgba(0, 0, 0, 0.6);
}

.indicator.extracting {
  background-color: rgb(109, 153, 203);
  animation: pulsate 1s infinite ease-in-out;
}

.indicator.summarizing {
  background-color: rgb(203, 187, 109);
  animation: pulsate 1s infinite ease-in-out;
}

.indicator.done {
  background-color: rgb(109, 203, 127);
  animation: pulsate 1s 1 ease-in-out;
}

.indicator.error {
  background-color: rgb(216, 62, 62);
}

/* BUTTONS */
button {
  border-radius: 0.2rem;
  color: white;
  border: none;
  font-weight: bold;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

button:focus-visible {
  outline: none;
  border-radius: 6px;
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

button.primary {
  background-color: rgb(101, 159, 78);
}

button.primary:focus-visible {
  box-shadow: 0 0 0 3px rgba(70, 229, 78, 0.4);
}

button.secondary {
  background-color: rgb(216, 62, 62);
}

button.secondary:focus-visible {
  box-shadow: 0 0 0 3px rgba(229, 70, 70, 0.4);
}

button.copy {
  background-color: transparent;
  color: rgb(113, 113, 113);
  border: none;
  opacity: 0.8;
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 0.2rem;
}

button.copy:hover {
  color: black;
}

button.copy:focus-visible {
  text-decoration: underline;
  color: rgb(73, 73, 73);
}

button.copy span {
  width: 0.5rem;
  height: 0.5rem;
}

.summr-btn {
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  font-size: 0.6rem;
}

.summr-btn.try-again {
  background-color: black;
}

.summr-btn.try-again:focus-visible {
  box-shadow: 0 0 0 3px rgba(16, 16, 16, 0.4);
}

/* LOADING */
.loader {
  width: 30px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #6e6e6e 92%, #0000);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}

/* ANIMATION */
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}
